.rooms-in-line{
    display:inline-block;
    margin-left: 500px;
}

.room-button{
    background-color: gray;
    border: none;
    color: white;
    padding: 7px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
    width: 40px;
    height: 40px;
}

.room-type-heading{
    font-size: 40px;
    margin-left: 640px;
}

#booked{
    background-color: red;
}

#not-booked{
    background-color: lightgreen;
}

#not-booked:hover{
    background-color: green;
}

#rooms-h{
    margin-left: 650px;
}

