<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="#" th:action="@{/booking}" th:method="post">
        <label for="title_input">Ввод</label>
        <input id="title_input" name="firstName" type="text" placeholder="Enter your fitrstname" required>
        <hr>
        <input id="title_input" name="lastName" type="text" placeholder="Enter your lastname" required>
        <br>
        <input id="title_input" name="login" type="text" placeholder="Enter your login" required>
        <br>
        <input id="title_input" name="phone" type="text" placeholder="Enter your phone" required>
        <br>
        <input id="title_input" name="bookingTime" type="text" placeholder="Enter number of days" required>
        <br>
        <input type="submit" value="Enter" class="input_submit">
    </form>
</body>
</html>