<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" th:href="@{css/currentRooms.css}" href="../static/css/currentRooms.css">
    <title>Room</title>

</head>
<body>
        <buttont>Number of rooms:</buttont>
        <button type="button" th:text="${room.getRooms()}">name</button>
        <hr>
        <buttont>Number of person:</buttont>
        <button type="button" th:text="${room.getPersons()}">name</button>
        <hr>
        <buttont>Floor:</buttont>
        <button type="button" th:text="${room.getFloor()}">name</button>
        <hr>
        <buttont>Type of room:</buttont>
        <button type="button" th:text="${room.getRoomClass()}">name</button>
        <hr>
        <buttont>Price:</buttont>
        <button type="button" th:text="${room.getPrice()}">name</button>
        <hr>
        <a th:href="@{'/booking?roomNumber=' + ${room.getNumber()}}" ><button class="order-button">Order</button></a>


</body>
</html>