<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" th:href="@{css/rooms.css}" href="../static/css/rooms.css/rooms.css/css/rooms.css">
    <title>Rooms</title>
</head>

<body>
    <div class="rooms-in-line" th:each="theRoom : ${roomList}">
        <a th:href="@{'/booking?room=' + ${theRoom.getNumber()}}"><button class="room-button" th:if="${!theRoom.isBooking() && !theRoom.isInaccessible()}"  id="not-booked"></button></a>
        <button class="room-button" th:if="${theRoom.isBooking() || theRoom.isInaccessible()}" id="booked"></button>
    </div>


</body>
</html>