<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" th:href="@{css/rooms.css}" href="../static/css/rooms.css">
  <title>Staff</title>
</head>
<body>
<div class="all-rooms">
  <b class="room-type-heading">STAFF</b>
  <br>
  <div class="rooms-in-line" th:each="theStaff : ${staffList}">
    <a th:href="@{'/currentWorker?id=' + ${theStaff.getId()}}">
    <button>Lastname: </button>
    <button th:text="${theStaff.getLastName()}">lastName</button>
    <br>
    <button>Position: </button>
    <button th:text="${theStaff.getPosition()}">position</button>
    </a>
    <br>
  </div>
  <hr>
</div>

</body>
</html>